$primary-font: 'Roboto', sans-serif;
$primary-font-weight: 300;
$primary-font-size: 12px;
$primary-font-color: #131313;
$bold-font: 600;

$background-color-white: #FFF;
$primary-background-color: #f0efef;

$box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;